services:
  
  frontend:
    build: frontend
    ports:
      - "5173:5173"
    networks:
      - d2
  
  backend:
    build: backend
    ports:
      - "3000:3000"
    networks:
      - d2
    depends_on:
      - mongo
  
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    networks:
      - d2  

networks:
  d2:
    driver: bridge